cg_g1/.idea/cg_g1.iml
cg_g1/.idea/inspectionProfiles/profiles_settings.xml
cg_g1/.idea/modules.xml
cg_g1/.idea/workspace.xml
cg_g1/__pycache__/gui.cpython-35.pyc
cg_g1/__pycache__/imageWidget.cpython-35.pyc
cg_g1/__pycache__/operações.cpython-35.pyc
